@model SigesivServer.Models.Respuestas.RespuestaPolizaDeConductor
<div>@Model.data.idPoliza</div>
<div>@Model.data.idAsegurado</div>
@foreach(var @caso in @Model.data.casosDeCobertura){
    <div> @caso.nombreDelCaso</div>
}